{% extends "base.html" %}

{% block title %}
Sign-Up
{% endblock %}

{% block heading %}
Sign Up
{% endblock %}

{% block content %}

{% if message %}
    {{ message }}
{% endif %}

{% if form %}
    <form action="{{ url_for('signup') }}" method="POST" style="padding: 5px;">
    {# Full Name Field #}
    {{ form.full_name.label }}:
    <br>
    {{ form.full_name }}
    <br>
        {% if form.full_name.errors %}
            {% for error in form.full_name.errors %}
                <b style="color: tomato">
                    {{ error }}
                </b>
                <br>
            {% endfor %}
        {% endif %}

    {# Email Field #}
    {{ form.email.label }}:
    <br>
    {{ form.email }}
    <br>
    {# Password Field #}
    {{ form.password.label }}:
    <br>
    {{ form.password }}
    <br>
    {# Confirm Password Field #}
    {{ form.confirm_password.label }}:
    <br>
    {{ form.confirm_password }}
    <br>
    {# Hidden CSRF Token #}
    {{ form.csrf_token }}
    </form>
{% endif %}
{% endblock %}
