{% extends "base.html" %}

{% block title %}
Sign-Up
{% endblock %}

{% block heading %}
Sign Up
{% endblock %}

{% block content %}
    <form action="{{ url_for('signup') }}" method="POST" style="padding: 5px;">
    {# Full Name Field #}
    {{ form.name.label }}
    {{ form.name }}
    <br>
    {# Email Field #}
    {{ form.email.label }}
    {{ form.email }}
    <br>
    {# Password Field #}
    {{ form.password.label }}
    {{ form.password }}
    <br>
    {# Confirm Password Field #}
    {{ form.pass_check.label }}
    {{ form.pass_check }}
    <br>
    {# Hidden CSRF Token #}
    {{ form.csrf_token }}
    </form>
{% endblock %}
